In [0]:
def total_numbers_1(a, b):
  print(a+b)
def total_numbers_2(a, b):
  return(a+b)

In [0]:
total= total_numbers_1(3,7)
print(total)
add_again = total_numbers_1(total(3))
print(add_again)

10
None

TypeError: ignored

In [0]:
total= total_numbers_2(3,7)
print(total)
add_again = total_numbers_2(total(3))
return(add_again)

10

TypeError: ignored

In [0]:
def how_many_hours(b):
  h = b // 60
  m = b % 60
  return"{}分は{}時間{}分です。".format(b,h,m)
print(how_many_hours(215))

215分は3時間35分です。

In [0]:
x = lambda a, b: a * b
print(x(763784584397545, 2323543254353))

1774686518855725297203763385

In [0]:
def x(a, b):
  return a*b
print(x(7634534545,23452352323))

179047793971454498035

In [0]:
data = [{'動物': 'うま', '年齢': 3}, {'動物': 'ねこ', '年齢': 1}, {'動物': 'きりん', '年齢': 5}]
sorted(data, key=lambda item:item['動物'])

[{'動物': 'うま', '年齢': 3}, {'動物': 'きりん', '年齢': 5}, {'動物': 'ねこ', '年齢': 1}]

In [0]:
class Animal:
  def __init__(self, animal_name, amounts):
    self.animal_name = animal_name
    self.amounts = amounts

a1 = animal("ねこ", 4)
a1.myfunc()

NameError: ignored

In [0]:
class Animal:
  def __init__(anything, animal_name, amounts):
    anything.animal_name = animal_name
    anything.amounts = amounts
  
  def myfunc(self):
    print()
    a1 = animal("ねこ", 4)
a1.myfunc()

NameError: ignored

In [0]:
class Animal:
  def __init__(self, animal_name, amounts):
    self.animal_name = animal_name
    self.amounts = amounts